* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 14px;
    overflow: hidden;
}

body,
html,
#app {
    height: 100%;
}

#app {
    background-color: #FFE5BC;
    overflow: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#dice-layer {
    height: 66.666%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    overflow: visible;
}

#dice-container {
    width: 860px;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;

    transition: transform .6s ease-out;
}

#dice-layer.diceSum-2 #dice-container {transform: scale(.82)}
#dice-layer.diceSum-3 #dice-container {transform: scale(.66)}

#dice-layer.diceSum-4 #dice-container,
#dice-layer.diceSum-5 #dice-container,
#dice-layer.diceSum-6 #dice-container {transform: scale(.52)}

#dice-layer.diceSum-3 #dice-container,
#dice-layer.diceSum-4 #dice-container,
#dice-layer.diceSum-5 #dice-container,
#dice-layer.diceSum-6 #dice-container {width: 1340px}

/* Dice w+h500*/
.dice {
    width: 380px;
    height: 380px;
    flex: 0 0 auto;
    outline: 6px solid transparent;
    background: linear-gradient(#FF2862, #B80031);
    position: relative;
    border-radius: 25%;
    cursor: pointer;
    transition: transform .1s;
}
.dice::before {
    content: "";
    width: 97%;
    height: 97%;
    background: linear-gradient(rgba(255,255,255, .2), rgba(255,255,255,.05));
    border-radius: 50%;
    margin: auto;
    position: absolute;
    top: 0;right: 0;
    bottom: 0;left: 0;
    z-index: 1;
}
.dice:hover {
    outline-color: #70E892;
}

.dice__dots {
    width: 20%;
    height: 20%;
    background: linear-gradient(#292929, #474747);
    margin: auto;
    box-shadow: 0 2px #999, 0 -2px #111;
    position: absolute;
    top: 0;right: 0;
    bottom: 0;left: 0;
    border-radius: 50%;
    z-index: 2;
}

.dice__dots-tl,
.dice__dots-ml,
.dice__dots-bl {
    left: -44%;
}
.dice__dots-tr,
.dice__dots-mr,
.dice__dots-br {
    left: 44%;
}

.dice__dots-tl,
.dice__dots-tr {
    top: -50%;
}
.dice__dots-bl,
.dice__dots-br {
    bottom: -50%;
}

    /* dice number style by adding class */
.dice.d-1 .dice__dots-tl,
.dice.d-1 .dice__dots-tr,
.dice.d-1 .dice__dots-ml,
.dice.d-1 .dice__dots-mr,
.dice.d-1 .dice__dots-bl,
.dice.d-1 .dice__dots-br,
.dice.d-2 .dice__dots-tl,
.dice.d-2 .dice__dots-m,
.dice.d-2 .dice__dots-ml,
.dice.d-2 .dice__dots-mr,
.dice.d-2 .dice__dots-br,
.dice.d-3 .dice__dots-tl,
.dice.d-3 .dice__dots-ml,
.dice.d-3 .dice__dots-mr,
.dice.d-3 .dice__dots-br,
.dice.d-4 .dice__dots-mr,
.dice.d-4 .dice__dots-ml,
.dice.d-4 .dice__dots-m,
.dice.d-5 .dice__dots-ml,
.dice.d-5 .dice__dots-mr,
.dice.d-6 .dice__dots-m
{display: none;}

    /* dice shake */
@keyframes shake-style-1 {
    0% {transform: translateY(-10px); transform: rotateZ(10deg);}
    33% {transform: translateY(10px);}
    66% {transform: translateY(-10px); transform: translateX(-10px);}
    100% {transform: translateY(10px);}
}
@keyframes shake-style-2 {
    0% {transform: translateY(-10px); transform: rotateZ(-7deg);}
    33% {transform: translateY(10px); transform: translateX(-10px);}
    66% {transform: translateY(-10px); transform: translateX(10px);}
    100% {transform: translateY(10px);}
}
@keyframes shake-style-3 {
    0% {transform: translateY(10px); transform: rotateZ(6deg);}
    33% {transform: translateY(-10px); transform: translateX(10px);}
    66% {transform: translateY(10px); transform: translateX(-10px);}
    100% {transform: translateY(-10px);}
}

.dice.shake-1 {
    animation: shake-style-1 .12s 0s 2;
}
.dice.shake-2 {
    animation: shake-style-2 .12s 0s 2;
}
.dice.shake-3 {
    animation: shake-style-3 .12s 0s 2;
}
/* Dice */

/* roll button */
.roll {
    width: auto;
    height: 33.333%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3C8500;
    text-align: center;
    flex-grow: 1;
    position: relative;
    cursor: pointer;
}
.roll:hover {
    background: #459900;
}

.roll__value {
    font-size: 40px;
    font-weight: bold;
    font-family: cursive, calibri, serif;
    color: #DBFFBD;
    display: inline-block;
    text-align: center;
    position: relative;
}
/* roll button */

/* add / remove */
.mobile-add-remove {
    color: #777;
    display: none;
    text-align: left;
    font-size: 0;
    font-family: cursive, calibri, serif;
    position: absolute;
    top: 0;
    left: 230px;
}
.mobile-add-remove__add,
.mobile-add-remove__remove {
    height: 80px;
    font-size: 130px;
    line-height: 50px;
    display: inline-block;
    vertical-align: text-top;
    overflow: hidden;
    cursor: pointer;
}
/* add / remove */

/* manual */
.manual {
    color: #D6B074;
    font-size: 20px;
    font-family: cursive, calibri, serif;
    font-weight: bold;
    list-style: none;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.manual__list-item {
    margin-bottom: 10px;
}
/* manual */