* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 14px;
    overflow: hidden;
}

body,
html,
#app {
    height: 100%;
}

#app {
    background-color: #FFE5BC;
    overflow: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 1.0416%; /* 20px */
}

/* Dice w+h500*/
.dice {
    width: 50vw;
    height: 50vw;
    outline: 6px solid transparent;
    max-width: 600px;
    max-height: 600px;
    background: linear-gradient(#FF2862, #B80031);
    position: relative;
    border-radius: 25%;
    cursor: pointer;
    transition: transform .1s;
}
.dice::before {
    content: "";
    width: 97%;
    height: 97%;
    background: linear-gradient(rgba(255,255,255, .2), rgba(255,255,255,.05));
    border-radius: 50%;
    margin: auto;
    position: absolute;
    top: 0;right: 0;
    bottom: 0;left: 0;
    z-index: 1;
}
.dice:hover {
    outline-color: #70E892;
}

.dice__dots {
    width: 20%;
    height: 20%;
    background: linear-gradient(#292929, #474747);
    margin: auto;
    box-shadow: 0 2px #999, 0 -2px #111;
    position: absolute;
    top: 0;right: 0;
    bottom: 0;left: 0;
    border-radius: 50%;
    z-index: 2;
}

.dice__dots-tl,
.dice__dots-ml,
.dice__dots-bl {
    left: -44%;
}
.dice__dots-tr,
.dice__dots-mr,
.dice__dots-br {
    left: 44%;
}

.dice__dots-tl,
.dice__dots-tr {
    top: -50%;
}
.dice__dots-bl,
.dice__dots-br {
    bottom: -50%;
}

    /* dice number style by adding class */
.dice.d-1 .dice__dots-tl,
.dice.d-1 .dice__dots-tr,
.dice.d-1 .dice__dots-ml,
.dice.d-1 .dice__dots-mr,
.dice.d-1 .dice__dots-bl,
.dice.d-1 .dice__dots-br,
.dice.d-2 .dice__dots-tl,
.dice.d-2 .dice__dots-m,
.dice.d-2 .dice__dots-ml,
.dice.d-2 .dice__dots-mr,
.dice.d-2 .dice__dots-br,
.dice.d-3 .dice__dots-tl,
.dice.d-3 .dice__dots-ml,
.dice.d-3 .dice__dots-mr,
.dice.d-3 .dice__dots-br,
.dice.d-4 .dice__dots-mr,
.dice.d-4 .dice__dots-ml,
.dice.d-4 .dice__dots-m,
.dice.d-5 .dice__dots-ml,
.dice.d-5 .dice__dots-mr,
.dice.d-6 .dice__dots-m
{display: none;}

    /* dice sizes by adding */
#app.diceSum-2 .dice {
    width: 33vw;
    height: 33vw;
}

#app.diceSum-3 .dice
{
    width: 28vw;
    height: 28vw;
    max-width: 420px;
    max-height: 420px;
}

#app.diceSum-4 .dice,
#app.diceSum-5 .dice,
#app.diceSum-6 .dice
{
    width: 20vw;
    height: 20vw;
}

#app.diceSum-5 .dice
{
    width: 16vw;
    height: 16vw;
}


#app.diceSum-6 .dice {
    width: 13vw;
    height: 13vw;
}

    /* dice shake */
@keyframes shake-style-1 {
    0% {transform: translateY(-10px); transform: rotateZ(10deg);}
    33% {transform: translateY(10px);}
    66% {transform: translateY(-10px); transform: translateX(-10px);}
    100% {transform: translateY(10px);}
}
@keyframes shake-style-2 {
    0% {transform: translateY(-10px); transform: rotateZ(-7deg);}
    33% {transform: translateY(10px); transform: translateX(-10px);}
    66% {transform: translateY(-10px); transform: translateX(10px);}
    100% {transform: translateY(10px);}
}
@keyframes shake-style-3 {
    0% {transform: translateY(10px); transform: rotateZ(6deg);}
    33% {transform: translateY(-10px); transform: translateX(10px);}
    66% {transform: translateY(10px); transform: translateX(-10px);}
    100% {transform: translateY(-10px);}
}

.dice.shake-1 {
    animation: shake-style-1 .12s 0s 2;
}
.dice.shake-2 {
    animation: shake-style-2 .12s 0s 2;
}
.dice.shake-3 {
    animation: shake-style-3 .12s 0s 2;
}
/* Dice */

/* roll button */
.roll {
    width: 14.625vw;
    height: 14.625vw;
    min-width: 200px;
    min-height: 200px;
    background: radial-gradient(at 0% 0%,#3C8500, #2C6200);
    outline: 20px solid #57C400;
    border-radius: 0 0 100% 0;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    cursor: pointer;
}
.roll:hover {
    background: radial-gradient(at 0% 0%,#459900, #377A00);
}

.roll__value {
    font-size: 12vw;
    font-weight: bold;
    line-height: 13vw;
    letter-spacing: -1vw;
    font-family: cursive, calibri, serif;
    color: #DBFFBD;
    text-shadow: 0 0 2px #7BB24D, 0 0 8px #7BB24D, 0 0 12px #7BB24D;
    display: inline-block;
    text-align: center;
    position: relative;
}
/* roll button */

/* add / remove */
.mobile-add-remove {
    color: #777;
    display: none;
    text-align: left;
    font-size: 0;
    font-family: cursive, calibri, serif;
    position: absolute;
    top: 0;
    left: 230px;
}
.mobile-add-remove__add,
.mobile-add-remove__remove {
    height: 80px;
    font-size: 130px;
    line-height: 50px;
    display: inline-block;
    vertical-align: text-top;
    overflow: hidden;
    cursor: pointer;
}
/* add / remove */

/* manual */
.manual {
    color: #D6B074;
    font-size: 20px;
    font-family: cursive, calibri, serif;
    font-weight: bold;
    list-style: none;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.manual__list-item {
    margin-bottom: 10px;
}
/* manual */

@media (max-width: 769px){
    #app {
        gap: 30px;
    }

    #app.diceSum-3 .dice,
    #app.diceSum-4 .dice,
    #app.diceSum-5 .dice,
    #app.diceSum-6 .dice 
    {
        width: 28vw;
        height: 28vw;
    }

    .roll__value {
        font-size: 132px;
        line-height: 132px;
        letter-spacing: normal;
    }

    .mobile-add-remove {
        display: inline-block;
    }

    .manual {
        font-size: inherit;
    }
}