* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 14px;
    overflow: hidden;
}

body,
html,
#app {
    height: 100%;
}

.hide {display: none;}

#app {
    background-color: #FFE5BC;
    overflow: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.0416%; /* 20px */
}

/* Dice w+h500*/
.dice {
    width: 50vw;
    height: 50vw;
    outline: 6px solid transparent;
    max-width: 600px;
    max-height: 600px;
    background: linear-gradient(#FF2862, #B80031);
    position: relative;
    border-radius: 25%;
    cursor: pointer;
}
.dice::before {
    content: "";
    width: 97%;
    height: 97%;
    background: linear-gradient(rgba(255,255,255, .2), rgba(255,255,255,.05));
    border-radius: 50%;
    margin: auto;
    position: absolute;
    top: 0;right: 0;
    bottom: 0;left: 0;
    z-index: 1;
}
.dice:hover {
    outline-color: #70E892;
}

.dice__dots {
    width: 20%;
    height: 20%;
    background: linear-gradient(#292929, #474747);
    margin: auto;
    box-shadow: 0 2px #999, 0 -2px #111;
    position: absolute;
    top: 0;right: 0;
    bottom: 0;left: 0;
    border-radius: 50%;
    z-index: 2;
}

.dice__dots-tl,
.dice__dots-ml,
.dice__dots-bl {
    left: -44%;
}
.dice__dots-tr,
.dice__dots-mr,
.dice__dots-br {
    left: 44%;
}

.dice__dots-tl,
.dice__dots-tr {
    top: -50%;
}
.dice__dots-bl,
.dice__dots-br {
    bottom: -50%;
}

    /* dice number style by adding class */
.dice.d-1 .dice__dots-tl,
.dice.d-1 .dice__dots-tr,
.dice.d-1 .dice__dots-ml,
.dice.d-1 .dice__dots-mr,
.dice.d-1 .dice__dots-bl,
.dice.d-1 .dice__dots-br,
.dice.d-2 .dice__dots-tl,
.dice.d-2 .dice__dots-m,
.dice.d-2 .dice__dots-ml,
.dice.d-2 .dice__dots-mr,
.dice.d-2 .dice__dots-br,
.dice.d-3 .dice__dots-tl,
.dice.d-3 .dice__dots-ml,
.dice.d-3 .dice__dots-mr,
.dice.d-3 .dice__dots-br,
.dice.d-4 .dice__dots-mr,
.dice.d-4 .dice__dots-ml,
.dice.d-4 .dice__dots-m,
.dice.d-5 .dice__dots-ml,
.dice.d-5 .dice__dots-mr,
.dice.d-6 .dice__dots-m
{display: none;}

    /* dice sizes by adding */
#app.diceSum-2 .dice {
    width: 33vw;
    height: 33vw;
}

#app.diceSum-3 .dice
{
    width: 28vw;
    height: 28vw;
    max-width: 420px;
    max-height: 420px;
}

#app.diceSum-4 .dice,
#app.diceSum-5 .dice,
#app.diceSum-6 .dice
{
    width: 20vw;
    height: 20vw;
}

#app.diceSum-5 .dice
{
    width: 16vw;
    height: 16vw;
}


#app.diceSum-6 .dice {
    width: 13vw;
    height: 13vw;
}
/* Dice */
